.godot/
bin/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*.user
Directory.Build.props
.vscode/settings.json
mod-uploader.log

# Sts2 dirs
/src/
/animations/
/images/
/scenes/
/shaders/
/themes/